<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
For Python:
1. Pandas
2. Numpy
3. SckitLearn

For R:
1. caret
2. dplyr
3. ggplot2

In [2]:
df<-data.frame("Data_Science_Tool"=
               c("Python","Rstudio","SQL"))

df

  Data_Science_Tool
1 Python
2 Rstudio
3 SQL

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
x=3
y=6
z=x+y
print(z)

[1] 9

### expression to mutiply then add integers.

In [7]:
(3*4)+5

[1] 17

### This will convert 200 minutes to hours.

In [9]:
in_minute = 200
in_hour = in_minute/60
print(in_hour)

[1] 3.333333

### List popular languages for Data Science.
- Python
- R
- SQL

## Author Detail
- Name      : Chandra MS
- Nation    : Indonesia
- Religion  : Islam